* {
  box-sizing: border-box;
}

.brand-logo {
  font-family: "Press Start 2P", cursive;
  margin-left: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
